.catalogo {
    display: flex;
    margin-top: 1.25rem;
}

.filtros {
    width: 20%;
    padding: 0 1.25rem;
    line-height: 1.5rem;
    border-right:  0.1rem solid #000;
}

.filtros h4 {
    margin-top: 1.25rem;
}

.filtros label {
    margin-bottom: 0.625rem;
}

.filtros input[type="search"] {
    width: 100%; 
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.063rem solid #000; 
    outline: none;
    border-radius: 0.313rem;
}


.filtro-header {
    display: flex; 
    align-items: center; 
    margin-bottom: 0.5rem; 
}

.filtro-header h4 {
    margin: 0;
    font-size: 1rem; 
    line-height: 1.5; 
}

.flecha {
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 0;
    display: flex; 
    align-items: center; 
    margin-left: 0.5rem; 
}

.flecha svg {
    height: 1rem; 
    width: 1rem;
    color: #000;
}

.flecha.active svg {
    transform: rotate(180deg); 
}

.checkboxes {
    display: block; 
    margin-top: 0.5rem;
    padding-left: 1rem;
}

.checkboxes.active {
    display: block; 
}

.productos {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    grid-gap: 1.875rem 0.625rem;
}

.producto {
    padding: 0 0.9375rem;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.producto h4 {
    margin-top: 0.9375rem;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004d; 
    z-index: 1;    
}

.image-wrapper h4,
.image-wrapper p {
    position: absolute;
    color: #fff;
    z-index: 2;
    text-align: left;
    left: 2rem; 
}

.image-wrapper h4 {
    bottom: 4rem; 
    font-size: 1.5rem;
    margin: 0;
}

.image-wrapper p {
    bottom: 2rem; 
    font-size: 1rem;
    margin: 0;
}

@media (max-width: 768px) {
    main {
        padding: 2rem;
    }

    .catalogo {
        flex-direction: column;
    }

    .filtros {
        width: 100%;
        padding: 0;
        border-right: none;
        border-bottom: 0.1rem solid #2B2B2B;
        margin-bottom: 1.25rem;
    }

    .productos {
        width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 1.25rem;
    }

    .image-wrapper {
        height: 18.75rem;
    }
}
