.ficha-planta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ficha-planta h1 {
    line-height: 3rem;
}

.imagen-planta-contenedor {
    flex: 1;
    max-width: 37rem;
    text-align: center;
    padding: 3rem 0;
}

.imagen-principal {
    width: 100%;
    height: auto;
}

.imagenes-relacionadas {
    display: flex;
    justify-content: center;
    margin-top: 0.625rem;
}

.imagen-pequena {
    width: 48%;
    height: auto;
    margin: 0 0.7rem;
}

.descripcion-planta {
    line-height: 2rem;
    flex: 1;
    max-width: 31.25rem;
    padding: 1.25rem;
}

.descripcion-planta h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

.descripcion-planta p {
    font-size: 1.1rem;
    text-align: justify;
}

.flecha {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #515352;
    transform: rotate(0deg); 
}

.show .flecha {
    transform: rotate(180deg); 
}

#detalles-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; 
}
  
.show #detalles-content {
    max-height: 1000px; 
}
.detalles ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1.2fr 1.8fr; 
    column-gap: 1rem;
    row-gap: 1rem; 
    position: relative;
}

.detalles ul::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 38%; 
    width: 0.1rem;
    background-color: #EAEBEB;
}

.detalles ul li {
    display: contents;
    color: #515352;
}

.detalles ul li span {
    font-weight: bold;
    padding-right: 1rem; 
    color: #000;
}

.detalles h3 {
    margin-top: 5rem; 
    margin-bottom: 1.5rem;
    font-size: 1.9rem; 
    color: #282A29;
    line-height: 1.6rem;
}

.recomendadas {
    padding: 0 3rem;
    margin-top: 4rem;
    position: relative;
}

.carrusel-botones {
    position: absolute;
    top: 0; 
    right: 0; 
    display: flex; 
    gap: 10px; 
}

.btn-carrusel {
    background: none; 
    border: none; 
    padding: 0;
    cursor: pointer; 
    display: flex; 
}

.btn-carrusel svg {
    stroke: #646867; 
    width: 24px; 
    height: 24px;
    transition: stroke 0.3s; 
}

.btn-carrusel:hover svg {
    stroke: #000; 
}

.carousel-container {
    width: 100%;
    overflow: hidden; 
    position: relative;
}

.productos-recomendados {
    display: flex;
    gap: 3rem;
    transition: transform 0.5s ease;
}

.image-wrapper {
    flex: 0 0 30%;
    overflow: hidden;
    position: relative;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.image-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004d; 
    z-index: 1;
}

.image-wrapper h4,
.image-wrapper p {
    position: absolute;
    color: #fff;
    z-index: 2;
    text-align: left;
    padding: 0 1.5rem;
}

.image-wrapper h4 {
    bottom: 5rem;
    font-size: 1.5rem;
    margin: 0;
}

.image-wrapper p {
    bottom: 2rem; 
    font-size: 1rem;
    margin: 0;
}

.recomendadas h2 {
    margin-bottom: 1.25rem;
    font-size: 2.25rem;
}

@media (max-width: 768px) {
    .ficha-planta {
        flex-direction: column;
        align-items: center;
        padding: 0rem; 
    }

    .imagen-principal{
        width: 20rem;
    }

    .detalles.show{
        display: contents;
    }

    .imagen-planta-contenedor,
    .descripcion-planta {
        max-width: 100%;
        padding: 1rem;
        text-align: center;
    }

    .descripcion-planta h1 {
        font-size: 2rem;
    }

    .descripcion-planta p {
        font-size: 1rem;
        text-align: center;
    }

    .productos-recomendados {
        flex-direction: row; 
        grid-gap: 1rem;
    }

    .imagenes-relacionadas {
        flex-direction: column;
        margin-top: 1rem;
    }

    .imagen-pequena {
        width: 80%;
        margin: 0.5rem auto;
    }

    .carousel-container {
        padding: 0; 
    }

    .image-wrapper {
        height: 15rem;
    }

    .image-wrapper h4{
        font-size: 1.2rem;
    }

    .image-wrapper p{
        font-size: 0.8rem;
    }

    .image-wrapper h4,
    .image-wrapper p {
        padding: 0 1rem; 
    }

    .recomendadas h2 {
        text-align: center;
        font-size: 1.8rem;
    }

    .recomendadas {
        padding: 0; 
    }

    .carrusel-botones{
        display: none;
    }


    .detalles ul  li, .detalles ul li span {
        color: #fff;
    }
    ul#detalles-content {
        background-color: #002E5F; 
        margin-bottom: 2rem;
    }
}


@media print{
    body{
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    button, footer, .recomendadas{
        display: none;
    }

    .boton-descargar-qr{
        display: none;
    }

    #detalles-content {
        max-height: none;
        overflow: visible;
    }

    .detalles ul {
        display: block;
    }

    .detalles ul li {
        display: block;
    }

    .flecha {
        display: none;
    }
}