{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Planta</title>
    <link rel="stylesheet" href="{% static 'estilos/estilosGenerales.css' %}">
    <link rel="stylesheet" href="{% static 'estilos/forms.css' %}">

</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'índice' %}"><img src="{% static 'recursos/logo.jpg' %}" alt="Logo" class="logo"></a>
        </div>
        <nav class="nav">
            <a href="{% url 'índice' %}">Inicio</a>
            <a href="{% url 'catálogo' %}">Plantas</a>
            <a href="{% url 'sobre_nosotros' %}">Sobre nosotros</a>
            <a href="{% url 'iniciar_sesión' %}">Iniciar Sesión</a>
            <a href="{% url 'cerrar_sesión' %}">Cerrar Sesión</a>
            <a href="{% url 'registrarse' %}">Registrarse</a>
        </nav>
    </header>

    <main>
        <h1>Registrar Planta</h1>
        <form action="{% url 'registrar_planta' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="nombre_planta">Nombre de la planta:</label>
            <input type="text" id="nombre_planta" name="nombre_planta" required>

            <label for="tipo_luz">Tipo de luz:</label>
            <select id="tipo_luz" name="tipo_luz" required>
                <option value="" disabled selected>Selecciona una opción</option>
                <option value="semisombra">Semisombra</option>
                <option value="sombra">Sombra</option>
                <option value="luz">Luz</option>
            </select>

            <label for="tamano">Tamaño:</label>
            <select id="tamano" name="tamano" required>
                <option value="" disabled selected>Selecciona una opción</option>
                <option value="pequeño">Pequeño</option>
                <option value="mediano">Mediano</option>
                <option value="grande">Grande</option>
            </select>

            <label for="especie">Especie:</label>
            <input type="text" id="especie" name="especie" required>

            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="4" cols="50" required></textarea>

            <label for="imagen">Imagen de la planta:</label>
            <input type="file" id="imagen" name="imagen" accept="image/*">

            <button type="submit">Registrar Planta</button>
        </form>
    </main>

    <footer>
        <nav class="footer-nav">
            <a href="{% url 'índice' %}">Inicio</a>
            <a href="{% url 'catálogo' %}">Catálogo</a>
            <a href="{% url 'sobre_nosotros' %}">Sobre nosotros</a>
        </nav>
        <div class="footer-info">
            <p>&copy; 2024 Vivero. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>
