{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha descriptiva</title>
    <link rel="stylesheet" href="{% static 'estilos/ficha.css' %}">
    <link rel="stylesheet" href="{% static 'estilos/estilosGenerales.css' %}">
    <script src="{% static 'script/ficha.js' %}"></script>
</head>
<body>
    <header>
        <div class="logo"> 
            <a href="{% url 'índice' %}"><img src="{% static 'recursos/logo.jpg' %}" class="logo"></a>
        </div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">☰ Menú</label>
        <nav class="nav">
            <a href="{% url 'índice' %}">Inicio</a>
            <a href="{% url 'catálogo' %}">Plantas</a>
            <a href="{% url 'sobre_nosotros' %}">Sobre nosotros</a>
            <a href="{% url 'iniciar_sesión' %}">Iniciar Sesión</a>
            <a href="{% url 'cerrar_sesión' %}">Cerrar Sesión</a>
            <a href="{% url 'registrarse' %}">Registrarse</a>
        </nav>
    </header>

    <main>
        <!-- Info de planta -->
        <div class="ficha-planta" id="ficha-planta"></div>
        <div class="recomendadas">
            <h2>Recomendadas</h2>
            <div class="carrusel-botones">
                <button class="btn-carrusel" onclick="moveCarousel(-1)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left">
                        <path d="m15 18-6-6 6-6"/>
                    </svg>
                </button>
                <button class="btn-carrusel" onclick="moveCarousel(1)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right">
                        <path d="m9 18 6-6-6-6"/>
                    </svg>
                </button>
            </div>
            
            <div class="carousel-container">
                <div class="productos-recomendados" id="carousel">
                    <div class="image-wrapper">
                        <img src="{% static 'recursos/roble.jpg' %}">
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="image-wrapper">
                        <img src="{% static 'recursos/plant.png' %}">
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="image-wrapper">
                        <img src="{% static 'recursos/plant.png' %}">
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="image-wrapper">
                        <img src="{% static 'recursos/plant.png' %}">
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>        
    </main>

    <footer>
        <nav class="footer-nav">
            <a href="{% url 'índice' %}">Inicio</a>
            <a href="{% url 'catálogo' %}">Plantas</a>
            <a href="{% url 'sobre_nosotros' %}">Sobre nosotros</a>
        </nav>
        <div class="footer-info">
        <p>&copy; 2024 Vivero. Todos los derechos reservados.</p>
        <p>Términos y condiciones</p>
        <p>Política de privacidad</p>
        <p>Cookies</p>
        </div>
    </footer>
</body>
</html>